{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Catalogo/home.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/Catalogo/images/favicon.png' %}"/>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Home </title>
</head>
<body id="main">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/admin">Usuario</a>
  <a href="/">Home</a>
  <a href="/libros/">Libros</a>
  <a href="/peliculas/">Películas</a>
  <a href="/series/">Series</a>
</div>

<div id="box">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;&nbsp;<b>Home</b></span>
</div>


<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script>

<table id="myTable">
  <tr class="header">
    <th colspan="4">Libros pendientes</th>
  </tr>
  <tr class="header">
      <th>Nombre</th>
      <th>Autor</th>
      <th>Género</th>
      <th>Subgénero</th>
  </tr>
  {% if lista_libros %}
        <tr> 
        {% for libro in lista_libros %}
          {% if libro.leido == False %}
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.genero }}</td>
            <td>{{ libro.subgenero }}</td>
        </tr>
          {% endif %}
        {% endfor %}
    {% else %}
        <p>Tienes que leer más.</p>
    {% endif %}
</table>
</br>
<table id="myTable">
  <tr class="header">
    <th colspan="4">Películas pendientes</th>
  </tr>
  <tr class="header">
      <th>Nombre</th>
      <th>Director</th>
      <th>Género</th>
      <th>Subgénero</th>
  </tr>
  {% if lista_pelis %}
        <tr> 
        {% for peli in lista_pelis %}
          {% if peli.vista == False %}
            <td>{{ peli.nombre }}</td>
            <td>{{ peli.director }}</td>
            <td>{{ peli.genero }}</td>
            <td>{{ peli.subgenero }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <p>Tienes que ver más peliculas.</p>
    {% endif %}
</table>
</br>
<table id="myTable">
  <tr class="header">
    <th colspan="4">Series pendientes</th>
  <tr class="header">
      <th>Nombre</th>
      <th>Director</th>
      <th>Género</th>
      <th>Subgénero</th>
  </tr>
  {% if lista_series %}
        <tr> 
        {% for serie in lista_series %}
          {% if serie.vista == False %}
            <td>{{ serie.nombre }}</td>
            <td>{{ serie.director }}</td>
            <td>{{ serie.genero }}</td>
            <td>{{ serie.subgenero }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <p>Tienes que ver más series.</p>
    {% endif %}
</table>
</body>
<footer>
</footer>
</html>