{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Catalogo/home.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/Catalogo/images/favicon.png' %}"/>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Home </title>
</head>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/admin">Usuario</a>
  <a href="/Catalogo">Home</a>
  <a href="/Catalogo/libros/">Libros</a>
  <a href="/Catalogo/peliculas/">Películas</a>
  <a href="/Catalogo/series/">Series</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
<div id="box"><h1>Home</h1></div>
</body>
</br>
<table id="myTable">
  <tr class="header">
    <th>Libros pendientes</th>
    <th></th>
  </tr>
  <tr class="header">
      <th>Nombre</th>
      <th>Autor</th>
  </tr>
  {% if lista_libros %}
        <tr> 
        {% for libro in lista_libros %}
          {% if libro.leido == False %}
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.autor }}</td>
        </tr>
          {% endif %}
        {% endfor %}
    {% else %}
        <p>Tienes que leer más.</p>
    {% endif %}
</table>
</br>
<table id="myTable">
  <tr class="header">
    <th>Películas pendientes</th>
    <th></th>
  </tr>
  <tr class="header">
      <th>Nombre</th>
      <th>Director</th>
  </tr>
  {% if lista_pelis %}
        <tr> 
        {% for peli in lista_pelis %}
          {% if peli.vista == False %}
            <td>{{ peli.nombre }}</td>
            <td>{{ peli.director }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <p>Tienes que ver más peliculas.</p>
    {% endif %}
</table>
</br>
<table id="myTable">
  <tr class="header">
    <th>Series pendientes</th>
    <th></th>
  <tr class="header">
      <th>Nombre</th>
      <th>Director</th>
  </tr>
  {% if lista_series %}
        <tr> 
        {% for serie in lista_series %}
          {% if serie.vista == False %}
            <td>{{ serie.nombre }}</td>
            <td>{{ serie.director }}</td>
          {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <p>Tienes que ver más series.</p>
    {% endif %}
</table>
</html>