{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Libros{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
    <div id="box">
        <h2>&#9776;&nbsp;<b>{{ libro.nombre }}</b></h2>
        {% if libro.comentario%}
            <hr size="1" width="35%" color="black" style="margin-left: 5px">  
            <p>{{ libro.comentario }}</p>
        {% endif %}
    </div>
    {% if libro.portada%}
        <img src="{{ libro.portada.url }}" alt="{{ libro.nombre }}" class="image">
    {% endif %}
    <table id="myTable">
        <tr class="header">
            <th>Autor</th>
            <th>Género</th>
            <th>Subgénero</th>
            <th>Publicación</th>
            <th>Lectura</th>
            <th>Puntuación</th>
        </tr>
        <tr> 
            <td>{{ libro.autor }}</td>
            <td>{{ libro.genero }}</td>
            <td>{{ libro.subgenero }}</td>
            <td>{{ libro.publicacion }}</td>
            <td>{{ libro.lectura }}</td>
            <td>{{ libro.puntuacion }}</td>
        </tr>
    </table>
    <button id="addButton"><a href="/admin/Catalogo/libro/{{ libro.id }}/change/">+ Editar libro</a></button>
    {% endblock content %}
    </body>
</html>