{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Libros{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
    <style>
        body{
          background: url("images/libros.jpg");
        }
    </style>

    <div id="box">
        <h2>&nbsp;<b>{{ libro.nombre }}</b></h2>
    </div>
    <div class="grid-parent">
        <div class="grid-child">
                {% if libro.portada%}
                    <img src="{{ libro.portada.url }}" alt="{{ libro.nombre }}" class="image">
                {% endif %}
        </div>
        <div class="grid-child">
            <ul><b>Autor:</b> {{ libro.autor }}.</ul>
            <ul><b>Género:</b> {{ libro.genero }}.</ul>
            <ul><b>Subgénero:</b> {{ libro.subgenero }}.</ul>
            <ul><b>Publicación:</b> {{ libro.publicacion }}.</ul>
            <ul><b>Lectura:</b> {{ libro.lectura }}.</ul>
            <ul><b>Puntuación:</b> {{ libro.puntuacion }}.</ul>
            {% if libro.comentario%}
            <ul><b>Comentario:</b> {{ libro.comentario }}.</ul>
            {% endif %}
            <hr size="1" width="50%" color="black" style="margin-left: 40px"> 
            <button id="addButton"><a href="/admin/Catalogo/libro/{{ libro.id }}/change/">+ Editar libro</a></button>
        </div>
    </div>
    {% endblock content %}
    </body>
</html>