{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Libros{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
      <div id="box">
        <h2>&#9776;&nbsp;<b>Libros</b></h2>
      </div>

      <br/><input type="text" id="myInput" onkeyup="myFunction()" placeholder="¿Qué andas buscando?">
      <table id="myTable">
        <tr class="header">
          <th onclick="sortTable(0)">Nombre</th>
          <th onclick="sortTable(1)">Autor</th>
          <th onclick="sortTable(2)">Género</th>
          <th onclick="sortTable(3)">Subgénero</th>
          <th onclick="sortTable(4)">Puntuación</th>
        </tr>

        {% if lista_libros %}
          <tr> 
            {% for libro in lista_libros %}
              {% if libro.leido == True %}
                <td><a href="{% url 'librosDetalle' libro.id %}">{{ libro.nombre }}</a></td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.subgenero }}</td>
                <td>{{ libro.puntuacion }}</td>
              </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>Tienes que leer más.</p>
        {% endif %}
      </table>
      <button id="addButton"><a href="/admin/Catalogo/libro/add/">+ Añadir libro</a></button>
    {% endblock content %}
    </body>
</html>