{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Películas{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
    <span style="font-size:30px;cursor:pointer;color:black" onclick="openNav()">&#9776;</span>
    <style>
        body{
          background: url("/static/Catalogo/images/peliculas.jpg") no-repeat fixed;
          background-position: center center;
          background-size: cover;
        }
    </style>
    <div id="box"><a href="/admin/Catalogo/pelicula/{{ pelicula.id }}/change/">
        <h2>&nbsp;<b>{{ pelicula.nombre }}</b></h2>
        {% if pelicula.comentario%}
        <hr size="1" width="50%" color="black" style="margin-left: 10px">
        <p style="font-size:14px; margin-left: 10px"><i>{{ pelicula.comentario }}.</i></p>
        {% endif %}
    </a></div>
    <table class="container">
      <tr class="table-row">
        <td class="table-cell">
          {% if pelicula.portada%}
          <img src="{{ pelicula.portada.url }}" alt="{{ pelicula.nombre }}" class="image">
          {% endif %}
        </td>
        <td class="table-cell">
          <div id="description">
            <ul><b>Director:</b> {{ pelicula.director }}.</ul>
            <ul><b>Género:</b> {{ pelicula.genero }}.</ul>
            <ul><b>Subgénero:</b> {{ pelicula.subgenero }}.</ul>
            <ul><b>Publicación:</b> {{ pelicula.estreno }}.</ul>
            <ul><b>Visualización:</b> {{ pelicula.visualizacion }}.</ul>
            <ul><b>Puntuación:</b> {{ pelicula.puntuacion }}.</ul>
            <hr size="1" width="50%" color="black" style="margin-left: 40px"> 
          </div>
        </td>
      </tr>
    </table>
    {% endblock content %}
    </body>
</html>