{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Películas{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
    <style>
        body{
          background: url("/static/Catalogo/images/peliculas.jpg") no-repeat fixed;
          background-size: cover;
        }
    </style>
    <div id="box">
        <h2>&nbsp;<b>{{ pelicula.nombre }}</b></h2>
    </div>
    <div class="grid-parent">
        <div class="grid-child">
                {% if pelicula.portada%}
                    <img src="{{ pelicula.portada.url }}" alt="{{ pelicula.nombre }}" class="image">
                {% endif %}
        </div>
        <div class="grid-child">
            <ul><b>Director:</b> {{ pelicula.director }}.</ul>
            <ul><b>Género:</b> {{ pelicula.genero }}.</ul>
            <ul><b>Subgénero:</b> {{ pelicula.subgenero }}.</ul>
            <ul><b>Publicación:</b> {{ pelicula.estreno }}.</ul>
            <ul><b>Visualización:</b> {{ pelicula.visualizacion }}.</ul>
            <ul><b>Puntuación:</b> {{ pelicula.puntuacion }}.</ul>
            {% if pelicula.comentario%}
            <ul><b>Comentario:</b> {{ pelicula.comentario }}.</ul>
            {% endif %}
            <hr size="1" width="50%" color="black" style="margin-left: 40px"> 
            <button id="addButton"><a href="/admin/Catalogo/pelicula/{{ pelicula.id }}/change/">+ Editar película</a></button>
        </div>
    </div>
    {% endblock content %}
    </body>
</html>