{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Pendientes{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
      <div id="box">
        <h2>&#9776;&nbsp;<b>Pendientes</b></h2>
      </div>

      <table id="myTable">
        <tr class="header">
          <th colspan="4">Libros pendientes</th>
        </tr>
        <tr class="header">
            <th>Nombre</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Subgénero</th>
        </tr>
        {% if lista_libros %}
              <tr> 
              {% for libro in lista_libros %}
                {% if libro.leido == False %}
                  <td><a href="{% url 'librosDetalle' libro.id %}">{{ libro.nombre }}</a></td>
                  <td>{{ libro.autor }}</td>
                  <td>{{ libro.genero }}</td>
                  <td>{{ libro.subgenero }}</td>
              </tr>
                {% endif %}
              {% endfor %}
          {% else %}
              <p>Tienes que leer más.</p>
          {% endif %}
      </table>
      <button id="addButton"><a href="/admin/Catalogo/libro/add/">+ Añadir libro</a></button>
      </br>
      <table id="myTable">
        <tr class="header">
          <th colspan="4">Películas pendientes</th>
        </tr>
        <tr class="header">
            <th>Nombre</th>
            <th>Director</th>
            <th>Género</th>
            <th>Subgénero</th>
        </tr>
        {% if lista_pelis %}
              <tr> 
              {% for peli in lista_pelis %}
                {% if peli.vista == False %}
                  <td><a href="{% url 'peliculasDetalle' peli.id %}">{{ peli.nombre }}</a></td>
                  <td>{{ peli.director }}</td>
                  <td>{{ peli.genero }}</td>
                  <td>{{ peli.subgenero }}</td>
                {% endif %}
              </tr>
              {% endfor %}
          {% else %}
              <p>Tienes que ver más peliculas.</p>
          {% endif %}
      </table>
      <button id="addButton"><a href="/admin/Catalogo/pelicula/add/">+ Añadir película</a></button>
      </br>
      <table id="myTable">
        <tr class="header">
          <th colspan="5">Series pendientes</th>
        <tr class="header">
            <th>Nombre</th>
            <th>Director</th>
            <th>Género</th>
            <th>Subgénero</th>
            <th>Temporada</th>
        </tr>
        {% if lista_series %}
              <tr> 
              {% for serie in lista_series %}
                {% if serie.vista == False %}
                  <td><a href="{% url 'seriesDetalle' serie.id %}">{{ serie.nombre }}</a></td>
                  <td>{{ serie.director }}</td>
                  <td>{{ serie.genero }}</td>
                  <td>{{ serie.subgenero }}</td>
                  <td>{{ serie.temporada }}</td>
                {% endif %}
              </tr>
              {% endfor %}
          {% else %}
              <p>Tienes que ver más series.</p>
          {% endif %}
      </table>
      <button id="addButton"><a href="/admin/Catalogo/serie/add/">+ Añadir serie</a></button>
    {% endblock content %}
  </body>
</html>