{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Series{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
    <style>
    body {
        background-image: url({% static 'Catalogo/images/series.jpg' %});
    }
    </style>
       
    <div id="box">
        <h2>&#9776;&nbsp;<b>{{ serie.nombre }}</b></h2>
        {% if serie.comentario%}
            <hr size="1" width="35%" color="black" style="margin-left: 5px"> 
            <p>{{ serie.comentario }}</p>
        {% endif %}
    </div>
    {% if serie.portada%}
        <img src="{{ serie.portada.url }}" alt="{{ serie.nombre }}" class="image">
    {% endif %}
    <table id="myTable">
        <tr class="header">
            <th>Director</th>
            <th>Género</th>
            <th>Subgénero</th>
            <th>Temporada</th>
            <th>Publicación</th>
            <th>Visualización</th>
            <th>Puntuación</th>
        </tr>
        <tr> 
            <td>{{ serie.director }}</td>
            <td>{{ serie.genero }}</td>
            <td>{{ serie.subgenero }}</td>
            <td>{{ serie.temporada }}</td>
            <td>{{ serie.estreno }}</td>
            <td>{{ serie.visualizacion }}</td>
            <td>{{ serie.puntuacion }}</td>
        </tr>
    </table>
    <button id="addButton"><a href="/admin/Catalogo/serie/{{ serie.id }}/change/">+ Editar serie</a></button>
    {% endblock content %}
    </body>
</html>