{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Series{% endblock title %}</title>
  </head>

  <body>
    {% block content %} 
    <span style="font-size:30px;cursor:pointer;color:black" onclick="openNav()">&#9776;</span>
    <style>
        body{
          background: url("/static/Catalogo/images/series.jpg") no-repeat fixed;
          background-position: center center;
          background-size: cover;
        }
      </style>
    <div id="box">
        <h2>&nbsp;<b>{{ serie.nombre }}</b></h2>
    </div>
    <div class="grid-parent">
        <div class="grid-child">
                {% if serie.portada%}
                    <img src="{{ serie.portada.url }}" alt="{{ serie.nombre }}" class="image">
                {% endif %}
        </div>
        <div class="grid-child">
            <ul><b>Director:</b> {{ serie.director }}.</ul>
            <ul><b>Género:</b> {{ serie.genero }}.</ul>
            <ul><b>Subgénero:</b> {{ serie.subgenero }}.</ul>
            <ul><b>Publicación:</b> {{ serie.estreno }}.</ul>
            <ul><b>Visualización:</b> {{ serie.visualizacion }}.</ul>
            <ul><b>Puntuación:</b> {{ serie.puntuacion }}.</ul>
            {% if serie.comentario%}
            <ul><b>Comentario:</b> {{ serie.comentario }}.</ul>
            {% endif %}
            <hr size="1" width="50%" color="black" style="margin-left: 40px"> 
            <button id="addButton"><a href="/admin/Catalogo/serie/{{ serie.id }}/change/">+ Editar serie</a></button>
        </div>
    </div>
    {% endblock content %}
    </body>
</html>