{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Series{% endblock title %}</title>
  </head>

  <body>

    {% block content %}
      <style>
        body {
          background-image: url({% static 'Catalogo/images/series.jpg' %});
        }
      </style>

      <div id="box">
        <h2>&#9776;&nbsp;<b>Series</b></h2>
      </div>

      <br/><input type="text" id="myInput" onkeyup="myFunction()" placeholder="¿Qué andas buscando?">
      
      <table id="myTable">
        <tr class="header">
          <th onclick="sortTable(0)">Nombre</th>
          <th onclick="sortTable(1)">Director</th>
          <th onclick="sortTable(2)">Género</th>
          <th onclick="sortTable(3)">Subgénero</th>
          <th onclick="sortTable(4)">Puntuación</th>
        </tr>

        {% if lista_series %}
          <tr> 
            {% for serie in lista_series %}
              {% if serie.vista == True %}
                <td><a href="{% url 'seriesDetalle' serie.id %}">{{ serie.nombre }}</a></td>
                <td>{{ serie.director }}</td>
                <td>{{ serie.genero }}</td>
                <td>{{ serie.subgenero }}</td>
                <td>{{ serie.puntuacion }}</td>
          </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>Tienes que ver más series.</p>
        {% endif %}
      </table>
      <button id="addButton"><a href="/admin/Catalogo/serie/add/">+ Añadir serie</a></button>
    {% endblock content %}
    </body>
</html>