{% extends "base.html" %}
{% load static %}

<html>
  <head>
    <title>{% block title %}Series{% endblock title %}</title>
  </head>

  <body>
    {% block content %} 
    <span style="font-size:30px;cursor:pointer;color:black" onclick="openNav()">&#9776;</span>
    <style>
        body{
          background: url("/static/Catalogo/images/series.jpg") no-repeat fixed;
          background-position: center center;
          background-size: cover;
        }
      </style>
    <div id="box"><a href="/admin/Catalogo/serie/{{ serie.id }}/change/">
        <h2>&nbsp;<b>{{ serie.nombre }}</b></h2>
        {% if serie.comentario%}
        <hr size="1" width="50%" color="black" style="margin-left: 10px">
        <p style="font-size:14px; margin-left: 10px"><i>{{ serie.comentario }}.</i></p>
        {% endif %}
    </a></div>
    <table class="container">
      <tr class="table-row">
        <td class="table-cell">
          {% if serie.portada%}
          <img src="{{ serie.portada.url }}" alt="{{ serie.nombre }}" class="image">
          {% endif %}
        </td>
        <td class="table-cell">
          <div id="description">
            <ul><b>Director:</b> {{ serie.director }}.</ul>
            <ul><b>Género:</b> {{ serie.genero }}.</ul>
            <ul><b>Subgénero:</b> {{ serie.subgenero }}.</ul>
            <ul><b>Publicación:</b> {{ serie.estreno }}.</ul>
            <ul><b>Visualización:</b> {{ serie.visualizacion }}.</ul>
            <ul><b>Puntuación:</b> {{ serie.puntuacion }}.</ul>
            <hr size="1" width="50%" color="black" style="margin-left: 40px"> 
          </div>
        </td>
      </tr>
    </table>
    {% endblock content %}
    </body>
</html>