/* Body */
body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; 
	margin: 0;
	font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: var(--color-text);
	text-align: left;
  transition: background-color .5s;
}
a:link {
	color: var(--color-text);
	text-decoration: none;
}
  
  /* visited link */
a:visited {
	color: var(--color-text);
	text-decoration: none;
}
  
  /* mouse over link */
a:hover {
	color: var(--color-text);
	text-decoration: none;
}
  
  /* selected link */
a:active {
	color: var(--color-text);
	text-decoration: none;
}

/* Barra búsqueda de tablas */
#myInput {
    background-image: url('images/searchicon.png'); /* Add a search icon to input */
    background-position: 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-color: #ffffff98;
    width: auto; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 50;
	border-radius: 25px;
  }

/* Tablas */
#myTable {
  border-collapse: collapse; 
  width: 85%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  margin-left: 50;
  margin-right: 50;
  margin-bottom: 20;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.493);  
}
  
#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
  background-color: rgba(170, 169, 169, 0.548);
}
  
#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  background-color: rgba(192, 192, 192, 0.493);
}
  
#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #ffffff;
}

/* Navegador superior */
.site {
  padding: 2em 0;
  text-align: center;
  font-size: 1.5em;
  color: #444;
  position:relative
}
.site a {
  color: #666;
  text-decoration: none;
}
.site a:hover {
  color: #222;
}
  
.site nav{
  position:absolute;
  top:0;
  left:0;
  background:#222;
  width:100%
}
.site nav a{
  padding:10px 30px;
  font: size 2em;
  display:inline-block
}
.site nav a:hover{
  background:#333;
  color:#fff
}

/* Cajas de las vistas de tablas*/
#box {
	box-sizing: border-box;
	width: 75%;
	margin: 50px;
	background-color: rgb(255, 255, 255);
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.493);
	border-radius: 25px;
  }

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
}

#addButton {
   color: rgb(0, 0, 0); 
   background-color: rgba(255, 255, 255, 0.514);
   font-size: 15;
   margin-left: 50px;
   margin-bottom: 50px;
   letter-spacing:1px; 
   border-radius: 12px;
  }

.hbox{
  transition: box-shadow .3s;
  box-sizing: border-box;
	width: auto;
  height: 20%;
	margin: 50px;
	background-color: rgb(255, 255, 255);
	border: 1px solid;
	padding: 10px;
	border-radius: 25px;
  text-align: center;
  font-size: x-large;
}
.hbox:hover{
  box-shadow: 5px 10px rgba(0, 0, 0, 0.493);
  text-shadow: #f1f1f1 1px 0 10px;
}

.grid-parent { 
  width: 50%;
  margin: auto;
   
} 
.grid-child { 
  float: left; 
  width: 50%; 
} 

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  transition: margin-left .5s;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: red;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}