.site {
    padding: 2em 0;
    text-align: center;
    font-size: .8em;
    color: #444;
    position:relative
  }
  .site a {
    color: #666;
    text-decoration: none;
  }
  .site a:hover {
    color: #222;
  }
  
  .site nav{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%
  }
  .site nav a{
    padding:10px 30px;
    font-size:2em;
    display:inline-block
  }
  .site nav a:hover{
    background:#333;
    color:#fff
  }