{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Catalogo/base.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/Catalogo/images/favicon.png' %}"/>

<script type="text/javascript" src="{% static 'scripts/sortTable.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/searchBar.js' %}"></script>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Base{% endblock %}</title>
</head>

<section class="site">
  <nav>
    <a href="/">HOME</a>
    <a href="/catalogo/libros/">Restaurantes</a>
    <a href="/admin">Usuario</a>
  </nav>
</section>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>