{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Catalogo/base.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/Catalogo/images/favicon.png' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="{% static 'scripts/sortTable.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/searchBar.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/sidenav.js' %}"></script>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Base{% endblock %}</title>
</head>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h2><a href="/">Home</a></h2>
  <button class="dropdown-btn">Librería
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/catalogo/index/">Menu</a>
    <a href="/catalogo/libros/">Libros</a>
    <a href="/catalogo/peliculas/">Películas</a>
    <a href="/catalogo/series/">Series</a>
    <a href="/catalogo/pendientes/">Pendientes</a>
  </div>
  <button class="dropdown-btn">Lugares
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/lugares/mapa/">Mapa</a>
    <a href="/lugares/restaurantes/">Restaurantes</a>
  </div>
  <a href="http://192.168.1.142:8000">GatiCam</a>
  <a href="/admin">Usuario</a>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">Log Out</a>
  {% else %}
  <a href="{% url 'login' %}">Log In</a>
  {% endif %}
</div>
  <main id="main" class="main">
    {% block content %}
    {% endblock %}
  </main>
  <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
  </script>
</body>
</html>