{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Catalogo/base.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static '/Catalogo/images/favicon.png' %}"/>
<script type="text/javascript" src="{% static 'scripts/sidenav.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mapa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'mapa.css' %}" />
    <link rel="stylesheet" type="text/css" href="https:///unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https:///unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>
  <section class="site">
    <nav>
      <a href="/">Home</a>
      <a href="/lugares/mapa/">Mapa</a>
      <a href="/lugares/restaurantes/">Restaurantes</a>
      <a href="/admin">Admin</a>
    </nav>
    <body>
          <div id="map">{{ restaurantes|json_script:"restaurantes-data" }}</div>
        <script src="{% static 'mapa.js' %}"></script>
    </body>
  </section>
</html>

